.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: loading 5s infinite linear;
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}
