body{
    background-color: seagreen;
}

p{
    margin: 15px;
}
span{
    font-weight: bold;
    font-size: large;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.item{
    height: 220px;
    width: 300px;
    background-color: darkseagreen;
    border-radius: 20px;
    transition: 0.5s;
}

.item:hover{
    width: 320px;
    height: 240px;
    transition: 0.5s;
}