.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.item{
    background-color: bisque;
    height: 250px;
    width: 250px;
    align-content: center;
    text-align: center;
}

#rubic{
    font-family: "Rubik Pixels", cursive;
}

#sedgwick{
    font-family: "Sedgwick Ave Display", cursive;
}

#dancing{
    font-family: "Dancing Script", cursive;
}

#fjalla{
    font-family: "Fjalla One", sans-serif
}

#indie{
    font-family: "Indie Flower", cursive;
}
