*{
    margin: 0;
    padding: 0;
}
header,footer {
    height: 22vh;
    background: #D9D9D9;
}

main{
    height: 56vh;
    display: flex;
}

main aside{
    width: 27vw;
    background: #C0BDBD;
}

.sections{
    display: flex;
    flex-direction: column;
}

.sec_one{
    width: 46vw;
    height: 46vh;
    background: #827878;
}

.sec_two{
    width: 46vw;
    height: 54vh;
    background: #B7ADAD;
}