@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkcyan;
    height: 100vh;
}

form{
    background: whitesmoke;
    height: 350px;
    width: 550px;
    border-radius: 3%;
}

.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.input_types{
    margin: 20px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

input[type=text],input[type=password]{
    height: 40px;
    width: 400px;
}

input[type=button]{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: grey solid 1px;
}