@media screen and (max-width: 480px) {
    .cards{
        margin: 32px 16px;
    }

    .card{
        width: 343px;
    }
    .card>img{
        height: 257px;
    }

    .card>h3{
        font-size: 24px;
    }

    .card>p{
        font-size: 16px;
    }
}